// Блок
.button {
  font-family: var(--font-primary);
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  color: var(--color-light);
  padding: 12px 33px;
  border: 1px solid var(--color-primary);
  cursor: pointer;

  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid var(--color-light);
    outline: none;
  }
}

// Модификаторы
.button--primary {
  background-color: var(--color-primary);
}
.button--secondary {
}
.button--secondary {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.button--small {
  padding: 12px 33px;
}
.button--large {
}
.button--text-left {
}
.button--large {
  padding: 17px 41px;
}
.button--text-left {
}
