<div class="slider">
    <section class="slide">
      <h2 class="slide__title">Completed projects</h2>
      <p class="slide__description">Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
         market we have made happy more than 1000 families</p>
        <div class="slide__notes">
          <div class="slide__grid-1">
             <p class="slide__note">
              City:</p>
             <p class="slide__note-secondary">Rostov-on-Don<br>
               LCD admiral<p>
          </div>
          <div class="slide__grid-2">
            <p class="slide__note">apartment area:</p>
            <p class="slide__note-secondary">81 m2<p>
          </div>
          <div class="slide__grid-3">
             <p class="slide__note">Repair time:</p>
             <p class="slide__note-secondary">3.5 months</p>
          </div>
          <div class="slide__grid-4">
             <p class="slide__note">Repair Cost:</p>
             <p class="slide__note-secondary">Upon request</p>
          </div>
        </div>
    </section>
    <section class="slide-content">
        <ul class="slide-content__list">
          <li class="slide-content__list-item "><a class="slide-content__list-link" href="#">Rostov-on-Don, Admiral</a></li>
          <li class="slide-content__list-item"><a class="slide-content__list-link disabled" href="#" >Sochi Thieves</a></li>
          <li class="slide-content__list-item"><a class="slide-content__list-link disabled" href="#" >Rostov-on-Don Patriotic</a></li>
        </ul>
    
 </div>         
            
         
    