<div class="content">
<div class="slider">
	<section class="slide">
		<h2 class="slide__title">Completed<br>
			projects</h2>
		<p class="slide__description">Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
						         market we have made happy more than 1000 families</p>
		<div class="slide__notes">
			<div class="slide__grid-1">
				<p class="slide__note">
					City:</p>
				<p class="slide__note-secondary">Rostov-on-Don<br>LCD admiral
				</p>
				<p></p>
			</div>
			<div class="slide__grid-2">
				<p class="slide__note">apartment area:</p>
				<p class="slide__note-secondary">81 m2</p>
				<p></p>
			</div>
			<div class="slide__grid-3">
				<p class="slide__note">Repair time:</p>
				<p class="slide__note-secondary">3.5 months</p>
			</div>
			<div class="slide__grid-4">
				<p class="slide__note">Repair Cost:</p>
				<p class="slide__note-secondary">Upon request</p>
			</div>
		</div>
		<div class="slide__dots">
			<span class="slide__dots-arrow slide__dots-arrow--left"></span>
			<span class="slide__dots-dot"></span>
			<span class="slide__dots-dot"></span>
			<span class="slide__dots-dot"></span>
			<span class="slide__dots-arrow slide__dots-arrow--right"></span>
		</div>
	</section>
	<section class="slide-tabs">
		<div class="slide-tabs__tab">
			<label class="slide-tabs__tab-title" for="tab1">
				Rostov-on-Don, Admiral</label>
			<input type="radio" class="" id="tab1" name="tab-group" checked>
			<div class="slide-tabs__tab-content">
				<img class="slide-tabs__tab-content-image" src="images/slider2.jpg" width="679" height="482">
				<img class="slide-tabs__tab-content-image" src="images/slider1.jpg" width="679" height="482">
			</div>
		</div>
		<div class="slide-tabs__tab">
			<input class="" type="radio" id="tab2" name="tab-group">
			<label class="slide-tabs__tab-title" for="tab2">Sochi Thieves</label>
			<div class="slide-tabs__tab-content"></div>
		</div>
		<div class="slide-tabs__tab">
			<input class="" type="radio" id="tab3" name="tab-group">
			<label class="slide-tabs__tab-title" for="tab3">Rostov-on-Don Patriotic</label>
			<div class="slide-tabs__tab-content"></div>
		</div>
	</section>
</div>
<h3 class="observation__title">ONLINE CONTROL</h3>
	<div class="observation__img"></div>
</div>