.content {
  background-color: var(--color-dark);
  width: 98%;
  margin-left: auto;
  margin-top: 10px;
}
.slider {
  display: flex;
}

.slide {
  min-width: 442px;
  margin-left: 86px;
  margin-top: 209px;
  margin-right: 30px;

  &__title {
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      width: 92px;
      height: 1px;
      background-color: var(--color-primary);
      position: absolute;
      left: 151px;
      bottom: 0;
    }

    &::after {
      content: "";
      width: 92px;
      height: 1px;
      background-color: var(--color-primary);
      position: absolute;
      left: 161px;
      bottom: 2px;
    }
  }

  &__description {
    width: 440px;
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 29px;
  }

  &__notes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  &__note {
    color: var(--color-primary);
    font-family: var(--font-secondary);
    text-transform: uppercase;
  }

  &__note-secondary {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 15px;
    line-height: 20px;
  }
}

.slide-tabs {
  min-width: 600px;
  position: relative;
  overflow: hidden;

  &__tab {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right: 60px;
    margin-top: 158px;

    &-title {
      display: inline-block;
      color: var(--color-primary);
      font-family: var(--font-secondary);
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      margin-bottom: 45px;
      background: transparent;
    }

    &-content {
      width: 100%;
      position: absolute;
      left: 0;

      &-image {
        margin-right: 21px;
      }
    }
  }
}

.slide-tabs__tab input[type="radio"] {
  display: none;
}

.slide-tabs__tab:checked + .slide-tabs__tab-title {
  position: relative;
  background: #fff;
  top: 1px;
  z-index: 1;
}

.slide-tabs__tab:checked ~ .slide-tabs__tab-content {
  display: block;
}

.slide__dots {
  &-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--color-light);
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.slide__dots-arrow {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: var(--color-light);
  margin-bottom: 5px;
}

.slide__dots-arrow--right {
  margin-left: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -2px;
    top: -4px;
    width: 12px;
    height: 2px;
    background-color: var(--color-light);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 4px;
    width: 12px;
    height: 2px;
    background-color: var(--color-light);
    transform: rotate(-45deg);
  }
}

.slide__dots-arrow--left {
  margin-right: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 4px;
    width: 12px;
    height: 2px;
    background-color: var(--color-light);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -4px;
    width: 12px;
    height: 2px;
    background-color: var(--color-light);
    transform: rotate(-45deg);
  }
}

.observation__title {
  color: var(--color-light);
  display: block;
  margin: 0;
  margin-top: 90px;
  text-align: center;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.observation__img {
  background-image: url(images/video.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    left: -33px;
    top: 25px;
  }

  &::after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    right: -33px;
    top: 25px;
  }
}
