.slider {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
}

.slide {
  min-width: 442px;

  &__title {
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    margin-top: 209px;
    margin-left: 123px;
  }

  &__description {
    width: 440px;
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 29px;
  }

  &__notes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  &__note {
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__note-secondary {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 15px;
    line-height: 20px;
  }
}

.slide-content {
  min-width: 600px;

  &__list {
    display: flex;

    list-style: none;
    padding: 0;

    &-link {
      color: var(--color-primary);
      font-family: var(--font-secondary);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;

      &:visited::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        bottom: 0;
        left: 0;
        position: absolute;

        &:hover,
        &:focus {
          color: var(--color-light);
        }
      }
    }
  }

  &__images {
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }
}

.disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
