// Блок
.navigation {
  &__item {
    font-family: var(--font-primary);
    color: var(--color-light);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: var(--color-primary);
    }
  }
}
