{# header.twig #}
<header class="header">
  <div class="header__container container container--center">
    {% include '../logo/logo.twig' %}

    {% include '../navigation/navigation.twig' %}

    <a class="header__phone-number" href="tel:{{ phone.href }}">
      {{ phone.view }}
    </a>

    <button class="button button--small button--primary">
      REQUEST A CALL
    </button>
  </div>
</header>
