.header {
  background-color: var(--color-dark);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 78px;
  }

  &__phone-number {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 16px;

    &:hover,
    &:focus {
      color: var(--color-light);
    }
  }
}
