// Библиотеки
@import "~normalize.css";

// Шрифты
@font-face {
  font-family: "Yeseva One";
  src: local("Yeseva One"), local("YesevaOne"),
    url("./fonts/yesevaone.woff2") format("woff2"),
    url("./fonts/yesevaone.woff") format("woff"),
    url("./fonts/yesevaone.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-Book С";
  src: local("Futura-Book"), local("FuturaBookC"),
    url("./fonts/futurabookc.woff") format("woff"),
    url("./fonts/futurabookc.otf") format("otf"),
    url("./fonts/futurabookc.ttf") format("truetype");
}

// Все переменные для стилей
:root {
  --color-primary: #e3b873;
  --color-dark: #131313;
  --color-light: #ffffff;

  --font-primary: Futura-Book С, Helvetica, Sans;
  --font-secondary: Yeseva One, Helvetica, Arial;

  --container-width: 1280px;
}

// Стили для компонентов
@import "components";
