{# layout.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css" />
    <title>Repair Design Project</title>
</head>
<body>
    {% include 'components/header/header.twig' %}
    <div class="main-container">
        {% include 'components/social-block/social-block.twig' %}
        {% include 'components/banner/banner.twig' %}
    </div>
        {% include 'components/scroll-down-block/scroll-down.twig' %}
        {% include 'components/slider-block/slider.twig' %}
</body>
</html>
