<div class="banner">
<div class="banner__container">
<h2 class="banner__title">{{banner.title}}</h2>
<p>{{banner.content}}</p>
<button class="button button--primary button--large" type="button">CALCULATE THE COST</button>
<button class=="button button--secondary button--large" type="button">SUBMIT YOUR APPLICATION</button>
</div>
</div>